@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #1363df, hsl(216, 100%, 59%));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar  */
/* navbar  */
/* navbar  */

.if-navigation {
  display: flex;
  text-align: right;
  margin: 3rem;
  font-size: 1.5rem;
}

.if-navigation a {
  text-decoration: none;
  color: white;
  padding: 2rem 3rem;
  display: inline-block;
  transition: 0.2s ease-out;
  background-color: #47b5ff;
  border-radius: 3rem;
  border: 1px solid transparent;
  margin-left: 1rem;
}

.if-navigation a:hover {
  background-color: rgba(19, 101, 223, 0.75);
  border: 1px solid #47b5ff;
  padding: 2rem 3.5rem;
}

.if-navigation a:active,
.if-inhalt-links a:active {
  background-color: rgba(19, 101, 223, 0.75);
  border: 1px solid #47b5ff;
  padding: 2.25rem 3.5rem 1.75rem;
  box-shadow: inset 5px 5px 5px #0d4496;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 75px;
  background: url(../img/blue/logo.png) left/contain no-repeat;
  margin-left: 2rem;
}

/* background vs. main inhalt */
/* background vs. main inhalt */
/* background vs. main inhalt */

.if-main-container {
  color: white;
}

.if-background-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 187px;
  background: url(../img/blue/top-background.png) top / contain no-repeat;
  z-index: -1;
}

.if-background-bottom {
  width: 100%;
  height: 736px;
  position: fixed;
  bottom: 0;
  background: url(../img/blue/bottom-background.png) bottom / contain no-repeat;
  z-index: -1;
}

.if-mid-background {
  display: inline-block;
  background: url(../img/blue/mid-background.png) bottom / contain no-repeat;
  padding: 0 2rem;
}

.if-mid-background img {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.if-inhalt-containter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 3rem;
}

.if-inhalt {
  width: 800px;
}

.if-inhalt h1,
.if-inhalt p {
  padding: 0 3rem;
}

.if-inhalt h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.if-inhalt p:nth-child(2) {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 0;
}

.if-inhalt p:nth-child(3) {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 5rem;
}

.if-inhalt-links {
  margin-left: 3rem;
}

.if-inhalt-links a {
  display: inline-block;
  background-color: #47b5ff;
  text-decoration: none;
  color: white;
  padding: 2rem 5%;
  border-radius: 3rem;
  transition: 0.3s ease-out;
  margin: 2rem 1rem 2rem 0rem;
  border: 1px solid transparent;
  font-size: 1.5rem;
}

.if-inhalt-links a:hover {
  background-color: #1363df;
  border: 1px solid #47b5ff;
  padding: 2rem 3.5rem;
}

/* side menu */
/* side menu */
/* side menu */

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button a {
  font-size: 3rem;
  padding: 1rem;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu-button a:hover {
  transform: scale(1.25);
}

.sidenav:target {
  width: 500px;
  border-right: 1px solid #1363df;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #06283d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.sidenav a {
  padding: 2rem 3rem;
  text-decoration: none;
  color: #47b5ff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
  background-color: #1363df;
}

.sidenav .closebtn {
  position: absolute;
  top: 0.75rem;
  right: 0;
  font-size: 3rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

.sidenav .closebtn:hover {
  color: white;
  background-color: #1363df;
  border-radius: 3rem;
}

.sidenav a:nth-child(3):before {
  font-family: "Font Awesome 6 Free";
  content: "\f007";
  font-size: 2rem;
  padding: 0 2rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.sidenav a:nth-child(4):before {
  font-family: "Font Awesome 6 Free";
  content: "\f15c";
  font-size: 2rem;
  padding: 0 2rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.sidenav a:nth-child(6):before {
  font-family: "Font Awesome 6 Free";
  content: "\f013";
  font-weight: 600;
  font-size: 2rem;
  padding: 0 2rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.sidenav a:nth-child(5):before {
  font-family: "Font Awesome 6 Free";
  content: "\25";
  font-size: 2rem;
  padding: 0 2rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

.sidenav a:nth-child(7):before {
  font-family: "Font Awesome 6 Free";
  content: "\f059";
  font-size: 2rem;
  padding: 0 2rem;
  display: inline-block;
  width: 2rem;
  text-align: center;
}

/* popUp */
/* popUp */
/* popUp */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 3rem;
  background: #47b5ff;
  border-radius: 1rem;
  width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.popup h4 {
  margin-top: 0;
  color: white;
  font-size: 2rem;
}
.popup .close {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  transition: all 300ms;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.25rem;
}

.popup .close:hover {
  color: white;
  background-color: #1363df;
  border-radius: 3rem;
}

.sidenav .closebtn:hover {
  color: white;
  background-color: #1363df;
  border-radius: 3rem;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.name,
.stadt,
.adress {
  display: flex;
}

.name div:nth-child(2),
.stadt div:nth-child(2),
.adress div:nth-child(2) {
  margin-left: 1rem;
}

.stadt div:nth-child(1),
.adress div:nth-child(2) {
  width: 50%;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-group input {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  width: 100%;
  color: #1363df;
  font-size: 1.25rem;
  border: 3px solid transparent;
}

.input-group input:focus {
  border: 3px solid #1363df;
  outline: none;
}

.input-group input::placeholder {
  font-size: 1.25rem;
  color: #47b5ff;
}

.if-inhalt .content p {
  margin: 3rem 0 1rem;
  padding: 0;
  font-size: 1.3rem;
  text-align: center;
}

.agb {
  line-height: 1rem;
}

.agb label {
  font-size: 1.25rem;
  font-weight: 300;
}

.agb input {
  height: 1rem;
  width: 1rem;
}

.agb a {
  color: white;
}

.submit a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #1363df;
  color: white;
  padding: 1rem;
  border-radius: 3rem;
  transition: 0.3s ease-out;
  margin: 2rem auto 0;
  width: 35%;
}

.submit a:hover {
  width: 40%;
}

.submit a::after {
  font-family: "Font Awesome 6 Free";
  content: "\f1d8";
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  width: 2rem;
}

/* responsive code  */
/* responsive code  */
/* responsive code  */

@media (max-width: 1500px) {
  body {
    zoom: 0.8;
  }
}

@media (max-width: 1200px) {
  body {
    zoom: 0.65;
  }
}

@media (max-width: 900px) {
  .if-inhalt-containter {
    flex-wrap: wrap;
  }
  header {
    zoom: 0.65;
  }
  .if-navigation a {
    font-size: 2rem;
  }
  .popup {
    width: 50%;
  }
}

/* under 375px*/

@media (max-width: 374px) {
  .if-navigation a {
    padding: 2rem 1.25rem;
    font-size: 2.5rem;
    width: 3ch;
    overflow: hidden;
    white-space: nowrap;
  }
  .if-navigation {
    margin: 3rem 2rem;
  }
  .logo {
    display: none;
  }
  .sidenav {
    font-size: 2.25rem;
  }
  .if-inhalt-links a {
    padding: 2rem 1rem;
  }
  .if-inhalt-links {
    margin: 0;
    text-align: center;
  }
  .popup {
    width: 100%;
  }
}

/* Between 375px and 465px */

@media (min-width: 375px) and (max-width: 465px) {
  .if-navigation a {
    padding: 2rem 1.25rem;
    font-size: 2.5rem;
  }
  .if-navigation {
    margin: 3rem 2rem;
  }
  .logo {
    display: none;
  }
  .sidenav {
    font-size: 2.25rem;
  }
  .if-inhalt-links a {
    padding: 2rem 1rem;
  }
  .if-inhalt-links {
    margin: 0;
    text-align: center;
  }
  .popup {
    width: 95%;
  }
}

/* Between 466px and 768px */

@media (min-width: 466px) and (max-width: 768px) {
  .if-navigation a {
    padding: 2rem 1.25rem;
    font-size: 2.5rem;
  }
  .if-navigation {
    margin: 3rem 2rem;
  }
  .sidenav {
    font-size: 2.25rem;
  }
  .if-inhalt-links a {
    padding: 2rem 1rem;
  }
  .if-inhalt-links {
    margin: 0;
    text-align: center;
  }
  .popup {
    width: 80%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .if-navigation a {
    padding: 2rem 1.5rem;
  }
  .if-inhalt-links a {
    padding: 2rem;
    margin: 1.75rem;
  }
}

@media (min-width: 560px) and (max-width: 768px) {
  .if-navigation a {
    padding: 2rem 3rem;
    border-radius: 4rem;
  }
  .sidenav:target {
    width: 600px;
  }
  .popup {
    width: 70%;
  }
}

/* Between 768 and 900px */

@media (min-width: 769px) and (max-width: 900px) {
  .if-navigation a {
    padding: 2rem 3rem;
    border-radius: 4rem;
    font-size: 3rem;
  }
  .if-navigation {
    margin: 3rem 2rem;
  }
  .sidenav {
    font-size: 2.25rem;
  }
  .if-inhalt-links a {
    padding: 2rem 2rem;
    font-size: 2rem;
    border-radius: 4rem;
    margin: 0 0.25rem;
  }
  .if-inhalt-links {
    margin: 0;
    text-align: center;
  }
  .sidenav:target {
    width: 600px;
  }
}

/* Between 901 and 1200px */

@media (min-width: 901px) and (max-width: 1200px) {
  .if-navigation a {
    border-radius: 4rem;
    font-size: 2rem;
  }
  .if-navigation {
    margin: 3rem 2rem;
  }
  .sidenav {
    font-size: 2.25rem;
  }
  .if-inhalt-links a {
    margin: 1rem 0.25rem;
  }
  .if-inhalt-links {
    margin: 0;
    text-align: center;
  }
  .if-inhalt-containter {
    margin-top: 12.5%;
  }
  .sidenav:target {
    width: 600px;
  }
}

/* Between 1201 and 1500px */

@media (min-width: 1201px) and (max-width: 1500px) {
  .if-inhalt-containter {
    margin-top: 8%;
  }
}

/* animation  */
/* animation  */
/* animation  */

/*

.if-inhalt-containter {
  position: relative;
}

.anm-1 {
  position: absolute;
  top: 60px;
  left: 350px;
  animation: flyingLeaf 20s infinite linear;
}

@keyframes flyingLeaf {
  0% {
    opacity: 0;
    transform: scale(0) translate(0px);
  }
  20% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  40% {
    transform: scale(0.8) translate(100px, -100px);
  }
  60% {
    transform: scale(0.6) translate(200px, -200px) rotateY(90deg);
  }
  80% {
    transform: scale(0.4) translate(100px, -350px) rotateY(180deg);
  }
  100% {
    transform: scale(0.2) translate(0px, -700px) rotateY(360deg);
    opacity: 0;
  }
}


*/
